@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap');

*{
  box-sizing: border-box;
}

body{
font-family: 'Ubuntu', sans-serif !important;

}

.App {
  text-align: center;
}

.jumbotron {
  height: calc(70vh - 64px);
  background-image: url('./images/bgHero1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-beer {
  width: 200px;
  height: 200px;
  object-fit: contain;
}